@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
h1 {
 text-align: left;
 font-family: 'Slabo 27px', serif; 
}

body {
  text-align: left;
  background: url('../images/horse.jpg') no-repeat center center fixed;
  background-size:cover;
  color: #fff;
  font-family: Avenir, sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  margin: 2em;
 }