.body {
  margin: 0px 55px 0px 55px;
}

.title {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 35px;
}

.subtitle {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 35px;
}

.info {
  line-height: 25px;
  padding-bottom: 35px;
}

.list {
  display: flex;
  flex-direction: column;
}

.data {
  line-height: 25px;
}

.bold {
  font-weight: bold;
}

.image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#body2, #body5 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column-one, .column-two {
  flex: 1;
}

.fine-print {
  font-size: 12px;
  margin-bottom: 100px;
}

#competitive {
  margin-top: 100px;
  margin-bottom: 50px;
}

#list3, #list4, #primary-persona {
  margin-bottom: 50px;
}

#image1 {
  background: url("../voya-images/voya3.jpeg");
  height: 600px;
  width: 100%;
}

#image2 {
  background: url("../voya-images/voya4.jpeg");
  width: 400px;
  height: 250px;
  background-size: contain;
  margin-left: 30px;
}

#image3 {
  background: url("../voya-images/voya5.jpeg");
  width: 900px;
  height: 285.5px;
  background-size: contain;
  margin-bottom: 25px;
}

#image4 {
  background: url("../voya-images/voya6.jpeg");
  width: 450px;
  height: 600px;
  background-size: cover;
  margin-left: 30px;
}
